Question 1
What's the version of NumPy that you installed?

You can get the version information using the __version__ field

In [4]:
import numpy as np
import pandas as pd

In [3]:
np.__version__

'1.22.3'

In [7]:
df = pd.read_csv('data.txt')

Question 2
How many records are in the dataset?

Here you need to specify the number of rows.

In [9]:
len(df)

11914

Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [17]:
df.groupby('Make')['Make'].count().sort_values(ascending=False).head(3)

Make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

Question 4
What's the number of unique Audi car models in the dataset?

In [20]:
df[df.Make == 'Audi']['Model'].nunique()

34

Question 5
How many columns in the dataset have missing values?

In [22]:
df.isna().sum(axis=0)

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

Question 6
Find the median value of "Engine Cylinders" column in the dataset.
Next, calculate the most frequent value of the same "Engine Cylinders".
Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
Now, calculate the median value of "Engine Cylinders" once again.

In [24]:
df['Engine Cylinders'].median()

6.0

In [26]:
df['Engine Cylinders'].value_counts()

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [27]:
df['Engine Cylinders'].fillna(4752, inplace=True)

In [28]:
df['Engine Cylinders'].median()

6.0

Question 7
Select all the "Lotus" cars from the dataset.
Select only columns "Engine HP", "Engine Cylinders".
Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the value of the first element of w?

In [51]:
X = np.array(df[df.Make == 'Lotus'][["Engine HP", "Engine Cylinders"]].drop_duplicates().values)

In [52]:
X

array([[189.,   4.],
       [218.,   4.],
       [217.,   4.],
       [350.,   8.],
       [400.,   6.],
       [276.,   6.],
       [345.,   6.],
       [257.,   4.],
       [240.,   4.]])

In [56]:
XTX = X.T.dot(X)
#XTX = X*X.T

In [57]:
XTX

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [58]:
np.linalg.inv(XTX)

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [44]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [60]:
w = np.linalg.inv(XTX).dot(X.T).dot(y)

In [61]:
w

array([  4.59494481, -63.56432501])